@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

:root {
  --wcs-pink: #e2626a;
  --wcs-blue: #69c7cb;
  --light-pink: #efa9ae;
  --light-blue: #a4dddf;
  --light-light-pink: #fff8f9;
  --light-light-blue: #f8fffe;
  --bg-pink: #ffd6d9;
  --text-accent: #21636c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg-pink);
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

.gradient-bg {
  background: linear-gradient(135deg, var(--wcs-pink), var(--wcs-blue));
}

.wcs-pink-bg {
  background-color: var(--wcs-pink);
}

.wcs-blue-bg {
  background-color: var(--wcs-blue);
}
